
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: black;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    background-color: rgb(67, 67, 210);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

button:hover {
    background-color: rgb(67, 67, 210);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.table-container {
    overflow-x: auto;
}